<div ng-controller="DeleteCtrl">
<div class="collapse navbar-collapse" id="headbar">
<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Employee Dashboard</a>
    </div>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="whiteText" href="#/create">Create<span></a></li>
					<li><a class="whiteText" href="#/retrieve">Retrieve</a></li>
					<li><a class="whiteText" href="#/delete">Delete</a></li>
				</ul>
</nav>
</div>
<input type="text" id="email"  ng-model="email" placeholder="Enter Email Address"><br/>

      <input type="submit" value="delete" ng-click="delete()" class="btn btn-md">
	  
</div>
</div>